.heading-1 {
    font-family: 'Bebas Neue';
    font-size: 100px;
    color: whitesmoke;
    text-align: center;
    background-color: black;
    padding: 40px;
    margin: auto;
}

.header-links {
    font-family: 'Bebas Neue';
    font-size: 40px;
    color: black;
    text-align: center;
    display: inline-block;
    padding: 10px;
}

a:hover {
    color: royalblue;
}

.heading-2 {
    font-family: 'Bebas Neue';
    font-size: 80px;
    text-align: center;
    margin: auto;
}

#profile-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-content {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
}

/* centers list items */
/* ul li {
    list-style-position: inside;
    text-align: center;
    font-size: x-large;
} */

.blog-heading-2 {
    font-family: 'Bebas Neue';
    font-size: 80px;
    text-align: justify;
    margin: auto;
}

.blog-heading-3 {
    font-family: 'Bebas Neue';
    font-size: 50px;
    text-align: justify;
    margin: auto;
}

.code-div {
    background-color: slategrey;
}

.class-example-blog {
    font-size: 80px;
    color: white;
    background-color: grey;
}

#id-example-blog {
    max-width: 100%;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

#id-example-html-image {
    max-width: 100%;
    height: auto;
}

.div-blog-content {
    margin: 60px;
}

#blog-image {
    max-width: 20%;
    height: auto;
    /* margin-left: auto;
    margin-right: auto; */
}

.p-blog-questions {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
    color:slategray;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
}

#footer-logo-image {
    max-width: 100%;
    height: auto;
}