.heading-1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    color: whitesmoke;
    text-align: center;
    background-color: black;
    padding: 40px;
    margin: auto;
}

.heading-2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    text-align: center;
    margin: auto;
}

#profile-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-content {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* centers list items */
/* ul li {
    list-style-position: inside;
    text-align: center;
    font-size: x-large;
} */