/* main styling */

.heading-1 {
    font-family: 'Bebas Neue';
    font-size: 100px;
    color: whitesmoke;
    text-align: center;
    background-color: black;
    padding: 40px;
    margin: auto;
}

/* links to other pages */
.header-links {
    font-family: 'Bebas Neue';
    font-size: 40px;
    color: black;
    text-align: center;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
.header-links-icons img{
    width: 40px;
    height: 40px;
    flex-wrap: nowrap;
    align-items: center;
}

a:hover {
    color: royalblue;
}

.heading-2 {
    font-family: 'Bebas Neue';
    font-size: 80px;
    text-align: center;
    margin: auto;
}

.center-content {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
}

.blog-heading-2 {
    font-family: 'Bebas Neue';
    font-size: 80px;
    text-align: center;
    margin: auto;
}

.blog-heading-3 {
    font-family: 'Bebas Neue';
    font-size: 50px;
    text-align: left;
    margin: auto;
}

.code-div {
    background-color: slategrey;
    width: auto;
    padding: 10px;
    border-radius: 5px;
}

.div-blog-content {
    margin: 60px;
}

.p-blog-questions {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: left;
    color:slategray;
}

h3.blog-questions {
    font-family: 'Roboto', sans-serif;
    color: slategrey;
    font-size: 25px;
    text-align: left;
}

p.quotes {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    text-align: center;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
}

/* home page image */
#profile-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* examples for blog */

.class-example-blog {
    font-size: 80px;
    color: white;
    background-color: grey;
}

#id-example-blog {
    max-width: 100%;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

#id-example-html-image {
    max-width: 100%;
    height: auto;
}

/* styling of blog links page */

.blog-card {
    width: 300px;
    height: auto;
    display: inline-block;
    padding: 20px;
}

.blog-link-images {
    max-width: 100%;
    height: 220px; 
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-link-text {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

/* image overlay hover effect */
.image-hover:hover img {
    opacity: 0.4;
}

img#if-else-png {
    max-width: 100%;
    height: auto;
}

/* code block container */
code.format {
    background-color: #F2F2F2;
    color: dodgerblue;
    width: auto;
    height: auto;
    padding: 1em;
    border-radius: 5px;
}

img#dom {
    max-width: 100%;
    height: auto;
}

img#rubber-duck {
    max-width: 100%;
    height: 400px;
}